figure {
	max-width: 224px;
	min-width: 25%;
	padding: 1.5rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 38px;
	background-color: #efb41c;
}

figure img {
	width: 100%;
}

figure figcaption {
	text-align: center;
	text-transform: capitalize;
	font-weight: 700;
	font-size: min(1.5em, 5vw);
	color: #ed2e2e;
}
